[2020-03-03 18:28] ankitshaw opened #4 "Create splash screen for the application"
You need to create a splash screen for the application. It is the first screen that is visible to the used when he launches the app

[2020-03-03 18:37] ankitshaw opened #5 "Integrating Firebase Authentication to the app ( Backend )"
You need to integrate firebase authentication to the application.
Also need to implement email verification.

[2020-03-03 18:41] ankitshaw opened #6 "Integration Map SDK to the application"
You need to integrate google maps sdk to the application.
Create an activity that display the maps.

[2020-03-03 18:44] infiniteoverflow commented on #6
I have worked on integrating google maps with flutter apps. I could work on it :)

[2020-03-03 18:52] ankitshaw opened #8 "Create a activity with all the helpline info"
You need to create a activity that lists all the helpline numbers like
1. Police
2. Ambulance
3. Fire Brigade
4. Women's helpline no.
5. Railway help line number
so on and so forth

To make it dynamic. Fetch the details from firebase database.
Use card layout and also allow user to directly call the helpline.

Refer below. On swipe left have a phone icon to call the contact
https://ibb.co/k3MLG2X

[2020-03-03 18:53] tanmayrauth commented on #6
Sure you can work on this.
This issue is only related to integrating the maps sdk with flutter. Location tracking will be an another issue.

Add this feature in component directory please. Please do ask if you face any issue in understanding

[2020-03-03 18:56] infiniteoverflow commented on #6
Okay sir  , so i juz need to implement a basic map on a screen?

[2020-03-03 18:57] ankitshaw opened #9 "Create login page for the application"
You need to create a login page for the application.

[2020-03-03 18:57] ankitshaw opened #10 "Create a registration page for the application"

[2020-03-03 19:02] ankitshaw opened #11 "Get Current Location of the user and display them on the map"

[2020-03-03 19:04] ankitshaw opened #12 "Add a location share button"
You need to add a location share button that will share the current location of the user to external apps like messenger, whatsapp etc.

[2020-03-03 19:09] tanmayrauth opened #13 "Add panic button UI component"

[2020-03-03 19:10] tanmayrauth opened #14 "Panic button backed firebase integration"

[2020-03-03 19:16] Rukmini-Meda commented on #4
I am interested to work on this issue. Please assign this to me as part of GSSoC'20.

[2020-03-03 19:34] infiniteoverflow commented on #11
I would like to work on this

[2020-03-03 19:39] infiniteoverflow commented on #6
@tanmayrauth I have made the PR sir

[2020-03-03 19:39] Rukmini-Meda commented on #10
I am interested to work on this issue.

[2020-03-03 20:14] Samriddhi25 commented on #5
I want to resolve this issue

[2020-03-03 20:28] rohg007 commented on #13
I would like to take up this issue

[2020-03-03 21:05] akshaydhiran commented on #10
I want to work on this issue.

[2020-03-03 21:06] akshaydhiran commented on #9
I want to work on this issue.

[2020-03-03 21:07] akshaydhiran commented on #4
I want to work on this issue.

[2020-03-03 21:09] akshaydhiran commented on #5
I want to work on this issue.

[2020-03-03 21:15] akshaydhiran commented on #8
I want to work on this issue.

[2020-03-03 22:43] sunchit17 commented on #8
I want to work on this issue

[2020-03-03 23:12] sanxy commented on #14
I will like to take up this issue, can the description be added

[2020-03-03 23:13] sanxy commented on #12
I will like to take this issue

[2020-03-04 04:13] vineetjk commented on #5
Intrested

[2020-03-04 04:14] vineetjk commented on #9
I want to work on this

[2020-03-04 04:15] vineetjk commented on #11
I would like to work on this

[2020-03-04 04:46] myselfanuj commented on #12
I would like to work on it. I already implemented this feature in my project"WiLdCare". Please assign me this issue.

[2020-03-04 04:49] myselfanuj commented on #11
I would like to work on it I already made an project using google map API and have experience of working on API. Please assign me this issue

[2020-03-04 04:53] myselfanuj commented on #5
I would like to work on it. I have great commands on firebase I already worked on firebase authentication for flutter. Please assign me this issue so i can start work on it. @ankitshaw

[2020-03-04 04:56] myselfanuj commented on #8
I would like to work on it. I used this type of feature in my project. Please assign me this  project so i can start my work @ankitshaw

[2020-03-04 04:58] myselfanuj commented on #14
I would like to work on it. I can implement an free sms alert service on panic button with location. Please assign me this issue so i can start work on it. @ankitshaw

[2020-03-04 05:14] ankitshaw commented on #13
@rohg007 you have been assigned the issue. Lets us know in case you have any doubts

[2020-03-04 05:19] ankitshaw commented on #5
@Samriddhi25 I have assigned you the issue. Let us know in case of any doubt.

[2020-03-04 05:21] ankitshaw commented on #8
@akshaysingh5 Issue assigned.

[2020-03-04 05:22] ankitshaw commented on #9
@vineetjk issue assigned

[2020-03-04 05:23] ankitshaw commented on #9
@akshaysingh5 you have been assigned another issue. For everyones benefit we are assigning one issue per person at a time till you PR is accepted. Thank You.

[2020-03-04 05:27] ankitshaw commented on #11
@myselfanuj issue assigned to you.
@vineetjk you have already been assigned an issue.
@infiniteoverflow please give us some time to verify you PR. We are assigning one issue per participant till the PR for the issue is accepted. Thank You for your patience.

[2020-03-04 05:28] ankitshaw commented on #12
@sanxy issue assigned.
@myselfanuj you have been assigned another issue

[2020-03-04 05:29] ankitshaw commented on #10
@Rukmini-Meda you have been assigned the issue.

[2020-03-04 05:36] myselfanuj commented on #12
@ankitshaw  Ok, but i want to work on this project properly. @sanxy if you aren't working on this issue please inform here.

[2020-03-04 05:38] myselfanuj commented on #8
@akshaysingh5  If you aren't working on it please inform here.

[2020-03-04 05:39] himanshusharma89 commented on #4
I would like to work on this issue

[2020-03-04 05:40] himanshusharma89 commented on #14
I would like to work on this issue

[2020-03-04 08:06] pa7ri commented on #4
Same here, I would like to work on it :)

[2020-03-04 09:16] ankitshaw commented on #14
@himanshusharma89 assigned

[2020-03-04 09:18] ankitshaw commented on #4
Hi @pa7ri, issue assigned.
@Rukmini-Meda @akshaysingh5 @himanshusharma89  you have been assigned another issues please check.

[2020-03-04 09:18] rohg007 opened #16 "Remove MapView Statements"
Remove MapView statements causing problems in compilation of app.

[2020-03-04 09:25] rohg007 commented on #13
A bit more info, what are you looking for? A separate screen with a big panic button, or do I have to place a panic button in some existing screen?

[2020-03-04 11:05] meghaa105 commented on #13
I would like to help

[2020-03-04 15:21] ankitshaw commented on #16
Can you please provide the link to the line no ?

[2020-03-04 15:24] ankitshaw commented on #16
@tanmayrauth can you please look at this

[2020-03-04 19:26] rohg007 commented on #16
I guess it was line no. 2 and line no. 33, 34, 35 in main.dart

[2020-03-05 10:46] Rukmini-Meda commented on #10
Thanks! I will update my work progress.

[2020-03-05 16:11] tanmayrauth commented on #14
@himanshusharma89 based on user when a person clicks on panic button for 3 times an entry for the same should be added to firebase object of user

This will be the first version. Further enhancement will raised as another issue.

[2020-03-05 21:34] FrozenGirl-spd commented on #9
Can i work on this?

[2020-03-05 21:35] FrozenGirl-spd commented on #10
Can i work on the issue?

[2020-03-07 12:12] sumitsingh1698 commented on #12
@ankitshaw i will like to work on it.

[2020-03-07 12:57] sumitsingh1698 commented on #16
error occuring in mapview statement @ankitshaw
during compiling

[2020-03-10 15:44] neversettle17-101 commented on #5
I would also like to work on this issue. I have some experience regarding this before.

[2020-03-10 15:45] neversettle17-101 commented on #9
I would like to work on this

[2020-03-10 15:50] neversettle17-101 commented on #12
@ankitshaw I would like to work on it

[2020-03-14 08:17] SnegaRamesh commented on #9
I would like to work on this issue.Can u please assign?

[2020-03-14 08:19] SnegaRamesh commented on #10
I would like to work on this issue.

[2020-03-14 14:29] neversettle17-101 commented on #11
If the issue is still open I would like to work on it

[2020-03-14 16:00] myselfanuj commented on #11
I am working on it.

[2020-03-20 14:46] kichloo commented on #11
@ankitshaw I can work on this issue.

[2020-03-20 15:03] myselfanuj commented on #11
I am already working on it and my work is about to finish but this issue is unassigned by mistake please assigned me this issue again so other people didn't comment here.@ankitshaw

[2020-03-20 16:16] Aman-Codes opened #22 "Add issue template"
I am a GSSOC participant and I would like to add an issue template folder with bug report, feature request and pull request template
## Screenshots
### Bug report
![bug report](https://user-images.githubusercontent.com/54680709/77220483-80cd5d00-6b66-11ea-8685-2751fa20c0c2.PNG)

### Feature Request
![feature request](https://user-images.githubusercontent.com/54680709/77220495-98a4e100-6b66-11ea-81

[2020-03-21 16:52] OveeKulkarni commented on #4
I would like to work on this.

[2020-03-21 17:15] OveeKulkarni commented on #5
I would like to work on this; could you assign it to me?

[2020-03-21 18:34] #22 closed, assigned to Aman-Codes

[2020-03-21 18:35] tanmayrauth commented on #16
Issue is fixed now

[2020-03-21 18:35] #16 closed, assigned to rohg007

[2020-03-22 03:03] Aman-Codes commented on #22
@tanmayrauth Will this be counted as a contribution to the GSSOC 20 as no GSSOC labels were assigned to it ?

[2020-03-22 07:25] Abbeyme1 commented on #11
@ankitshaw I would like to work on this.

[2020-03-25 06:05] Aman-Codes opened #29 "Add CODE_OF_CONDUCT.md"
**Is your feature request related to a problem? Please describe.**
No CODE_OF_CONDUCT.md file is present.

**Describe the solution you'd like**
@tanmayrauth @ankitshaw  As a GSSOC participant I would like to add a CODE_OF_CONDUCT.md file in this project.

**Additional context**
### Screenshots

![code of conduct1](https://user-images.githubusercontent.com/54680709/77505634-beddc000-6e89-11ea-9dd5-

[2020-03-25 18:19] ankitshaw commented on #29
@Aman-Codes  go ahead

[2020-03-26 03:24] Aman-Codes commented on #29
@ankitshaw Sir can you please share your email id which I can add in this file where participants can report any unacceptable behavior .

[2020-03-26 13:04] #12 closed, assigned to sanxy

[2020-03-26 13:12] #6 closed, assigned to infiniteoverflow

[2020-03-26 13:27] ankitshaw commented on #13
need only the UI component, so can be placed in separate screen.

[2020-03-28 20:22] shwhite17 commented on #9
assign it to me please ?

[2020-03-29 08:14] ankitshaw commented on #9
@vineetjk  are you still working on the issue?

[2020-03-29 08:16] #14 closed, assigned to himanshusharma89

[2020-03-29 08:16] ankitshaw commented on #4
@pa7ri are you still working on the issue?

[2020-03-29 08:18] ankitshaw commented on #8
@akshaysingh5 are you still working on the issue?

[2020-03-29 08:20] ankitshaw commented on #29
codingindiaorg@gmail.com

[2020-03-29 08:21] ankitshaw commented on #10
@Rukmini-Meda  are you still working on it, need any help?

[2020-03-29 08:30] Rukmini-Meda commented on #10
Yes sir, I am working on it. I will make the PR today. Sorry for being late.

[2020-03-29 13:34] HarshMehta2468 opened #32 "Github Actions for monitoring"
I'd like to add the following github actions to this project:
1.)Greet:This action will greet the participant whenever they raise an issue or submit a PR .
2.)Stale: To mark unattended issues or PR(s).
3.)Mind-Your-Language: To warn the participant if he/she uses foul language in the reposiotry

Working on this ? Yes!

@ankitshaw Plz assign me this.

[2020-03-29 16:59] ankitshaw commented on #10
no issue.

[2020-03-29 21:39] pa7ri commented on #4
Yes @ankitshaw, sorry for the delay I was managing to run a flutter app to check if it works

[2020-03-30 17:18] Akansha2202 commented on #8
i would like to work on this issue

[2020-03-30 19:18] payal-98 commented on #4
Can I work on this issue?

[2020-03-31 05:48] vineetjk commented on #9
yes i have completed this issue
but need to push the code

[2020-04-04 22:15] prangya244 commented on #32
I would like to work on this too.

[2020-04-05 13:51] myselfanuj commented on #11
Sorry, I can't work on this right now you can assign it to others who are willing to work... sorry for late response..

[2020-04-08 15:46] 991rajat commented on #11
Hello, I would like to contribute.

[2020-04-11 11:10] 991rajat opened #33 "bug: component not able to run"
**Describe the bug**
The component is not able to run.
First, the bug was happening due to
`<meta-data
    android:name="com.google.android.geo.API_KEY"
    android:value="<Your API Key" `/>`
'<' in value cannot appear in meta data .
 So I change it to the API key present in master. But still, the package is not able to run

**Screenshots**
![Screenshot (31)](https://user-images.githubusercontent.

[2020-04-12 13:29] ankitshaw commented on #32
Hi, @mySTRiouscoder  what is the status?

[2020-04-12 13:30] #33 closed, assigned to nobody

[2020-04-12 13:30] ankitshaw commented on #33
Issue is resolved

[2020-04-12 13:38] ankitshaw commented on #29
Hi @Aman-Codes your link to CODE OF CONDUCT was broken, please look into it ans raise a new PR

[2020-04-12 22:58] FrozenGirl-spd commented on #10
Can i work on the issue?
@ankitshaw

[2020-04-12 22:58] FrozenGirl-spd commented on #9
Can i work on the issue?
@ankitshaw

[2020-04-13 01:57] Rukmini-Meda commented on #10
@ankitshaw I am working on this issue. Please respond to my messages on slack. I have doubts. Once it's clear, I can make PR immediately.

[2020-04-13 18:41] ankitshaw commented on #9
Hi @FrozenGirl-spd, assigned the issue to you!.

[2020-04-14 00:08] sanxy commented on #11
If this becomes open I will like to work on this

[2020-04-14 00:11] sanxy commented on #4
I will like to work on this issue if it becomes open

[2020-04-14 00:13] sanxy commented on #13
I will like to work on this issue if it becomes open

[2020-04-14 00:14] sanxy commented on #8
I will like to work on this issue if it becomes open

[2020-04-14 00:43] akshaydhiran commented on #8
I am working on it.

[2020-04-14 06:10] Aman-Codes commented on #29
@ankitshaw Ok sir

[2020-04-14 13:50] #29 closed, assigned to Aman-Codes

[2020-04-14 14:07] ankitshaw commented on #8
Hi @akshaysingh5   , the issue has been blocked for quite some time now.

[2020-04-14 15:32] ankitshaw commented on #10
I have replied. You can raise your doubt here as well

[2020-04-14 18:34] HarshMehta2468 commented on #32
Sent a PR

[2020-04-14 20:02] pa7ri commented on #4
sorry for the delay but Im going to unassign myself, since I cant manage to run the project, good luck everyone

[2020-04-14 20:50] sanxy commented on #4
I am available to take up the task

[2020-04-15 13:52] ankitshaw commented on #13
Assigned to @meghaa105

[2020-04-15 13:55] #32 closed, assigned to HarshMehta2468

[2020-04-16 15:06] Rukmini-Meda commented on #10
Okay, I will make a PR by tonight and will ask doubts if any.

[2020-04-16 17:43] #4 closed, assigned to sanxy

[2020-04-18 04:51] tanmayrauth commented on #11
@991rajat Any update on this? Please do let us know otherwise need to assign it it someone else

[2020-04-18 04:55] tanmayrauth commented on #8
@akshaysingh5 This issue has been assign to you more than a month back (4th March). I believe you are not showing any active contribution to it. Unfortunately we need to assign it to someone else if you fail to raise PR in next 1 day.

We can't block issues for other active contributors

[2020-04-18 05:10] kichloo commented on #11
@ankitshaw I had first asked to work on it. How can the person who asks last be assigned instead of someone who asked first. I thought FCFS is followed. Didn't know this project follows something else

[2020-04-18 06:10] tanmayrauth commented on #11
@kichloo you can see there are many request raised for it. Even after assigning them they don't actively contribute or atleast provide the update for blocker.
If @991rajat fails to respond back with update in next 1 day then you can pick up this issue if you are interested

[2020-04-18 11:07] tanmayrauth opened #43 "Create group User Interface"
User Interface which should allow user to create group and add members to that group

[2020-04-18 11:09] tanmayrauth opened #44 "Create group backend with firebase"
Logged in user should be able to create group and add members to that group.
All the group creation should be done by logged in users only.

[2020-04-18 11:11] tanmayrauth opened #45 "Add delete members from group ( UI and backend )"
User should be able to add and remove members from group.

[2020-04-18 11:12] tanmayrauth opened #46 "Delete whole group feature"
Logged in user have created the group. A delete UI option that will delete the whole group from db.

[2020-04-18 11:15] tanmayrauth opened #47 "Share location to group created by user"
Consider it with a scenario that you have created a group with your family.
you can add and remove members from it.

This feature request is for sharing location of user with those member in group

[2020-04-18 11:20] tanmayrauth opened #48 "Currently shared location Screen (UI)"
An list UI with all the details about the users who have share. Similar to this.
Just develop a similar UI. Backed will be a different issue raised.
![image](https://user-images.githubusercontent.com/18233626/79636349-9a2ced80-8194-11ea-9915-a7be93dd35e2.png)

[2020-04-18 11:22] tanmayrauth opened #49 "Currently Shared location Status ( Backend )"
This issue goes inline with the #48
which will dynamically populate the list of all the users who have share their location to them.

Understand scenario :
You have shared location to Mr X, then Mr X should be able to see your name in that dynamic list of #48

[2020-04-18 11:26] tanmayrauth opened #50 "Notification alert to member with whom location is shared"
If some logged in user has share his location to Mr XYZ then Mr XYZ should get a notification alert with long vibration.

When Mr XYZ click on notification then maps ui should open he can see location of one who shared it.

[2020-04-18 11:35] tanmayrauth opened #51 "Implement Real-time Location Updates on Google Maps in UI"
A maps UI which will update and show the relatime tracking of the user who has shared the location.

This UI will open up when
1. user clicks on notification of location shared
2. user clicks on list of currently share locations. ( I.e locations share to user )
3. Direct link sharing. (If someone shared it using link of travel safe then this UI should open up)

[2020-04-18 11:49] tanmayrauth opened #52 "Splash screen UI"
a splash screen with inkling details about app
Eg: https://www.androidhive.info/2016/05/android-build-intro-slider-app/

At last there will be signup and login page

[2020-04-18 11:57] tanmayrauth opened #53 "Location share using web link"
Logged in user can share his/her location using weblink that can be shared across any app.
But will open in Maps UI of travel safe.

[2020-04-18 11:58] tanmayrauth opened #54 "Firebse Session handling across app"
Firebase session handling

[2020-04-18 12:01] tanmayrauth opened #55 "Integration of component modules"
Merging independent components from Component Direction to make a working flow of app

[2020-04-18 12:03] tanmayrauth opened #56 "About Us UI activity"
**Aesthetically good** UI that provide details about

logo
Apps working
Need of app
Mission of app
Contributor's list ( circular icon grid at the end of the above details, linked to their github account fetched from firebase db)

[2020-04-18 12:06] ankitshaw commented on #11
Hi @kichloo , please keep a track on the gssoc slack space as well, I had asked participants to comment on issue, if they find stale or inactive issues (on 11th April). That was done to identify who really want to take up issues and not just block it.

[2020-04-18 12:08] ankitshaw commented on #9
Hi @FrozenGirl-spd  are you working on the issue?

[2020-04-18 12:09] ankitshaw commented on #13
Hi @meghaa105  are you working on the issue?

[2020-04-18 12:09] tanmayrauth commented on #9
@FrozenGirl-spd Please do let us know the status otherwise we will have to assign it to someone else

[2020-04-18 12:10] akshaydhiran commented on #52
I want to work on this issue and I mean it this time.

[2020-04-18 12:12] akshaydhiran commented on #56
I really want to work on this issue.

[2020-04-18 12:14] ankitshaw commented on #52
Hi @akshaysingh5 issue #8 has already been blocked by you without any progress shown.

[2020-04-18 12:22] akshaydhiran commented on #52
Sir, Will do it within a day for sure and seriously i really mean this time.

[2020-04-18 12:29] tanmayrauth commented on #56
Assigned. Make sure it is aesthetically good. Please do give status update after every 3 days.

[2020-04-18 12:30] tanmayrauth commented on #56
Sorry @akshaysingh5
Do complete your previous active issues. Then I will assign it to you.

[2020-04-18 14:19] sanxy commented on #52
I will like to work on this

[2020-04-18 14:27] tanmayrauth commented on #52
Assigned to @sanxy please refer the above example and provide status update every 3-4 days

[2020-04-18 20:35] pravinyo opened #57 "Test code is missing for each feature/class"
**Describe the bug**
It is not a bug but wanted to encourage new feature should include `testable code`. And `Unit Test` of the feature/ Class should be added to make sure code didn't break in future update.

**To Reproduce**
Steps to reproduce the behavior:
1. easy to reproduce
2. Make changes to core file
3. Compile app and we will see some functionality is broken

**Additional context**
It is t

[2020-04-19 18:30] ankitshaw commented on #8
Remove assignee due to inactivity. Open for pick up

[2020-04-19 18:41] ankitshaw commented on #11
Hi @kichloo, I have assigned you the issue.

[2020-04-19 18:42] tanmayrauth commented on #13
We are closing this issue. Not needed anymore.

[2020-04-19 18:42] #13 closed, assigned to meghaa105

[2020-04-19 21:46] FrozenGirl-spd commented on #56
Can i work on this @tanmayrauth .. please..

[2020-04-20 03:30] Rukmini-Meda commented on #9
I would like to work on this issue. Please assign this to me as part of GSSOC'20.

[2020-04-20 05:16] tanmayrauth commented on #9
assigned to @Rukmini-Meda
Once the UI part is done then we can focus over backend in different issue.

[2020-04-20 05:17] tanmayrauth opened #58 "User Registration ( Backend )"
user registration form integrated with firebase db

[2020-04-20 05:18] tanmayrauth opened #59 "User Login ( Backend )"
User authentication backend integration with UI

[2020-04-20 05:46] #10 closed, assigned to Rukmini-Meda

[2020-04-20 07:27] vipuldcoder commented on #46
I am interested with this issue, Can I get started with it?

[2020-04-20 07:29] vipuldcoder commented on #45
I am interested with this issue, Can I work on this?

[2020-04-20 09:14] tanmayrauth commented on #46
group creation is prerquisite for getting into this issue

[2020-04-20 09:15] tanmayrauth commented on #45
group creation is prerquisite for getting into this issue

[2020-04-20 15:34] himanshusharma89 commented on #48
Hey @tanmayrauth can I work on it?

[2020-04-20 16:51] ankitshaw commented on #48
Hi @himanshusharma89, assigned. Feel free to ask if you need more clarity at any point.

[2020-04-20 16:54] sanxy commented on #52
Quick question, i did splash screen before which only shows when app starts for few seconds before proceeding to main screen. Do i override that or i should show the new UI after the previous splash screen? Kindly advice?

[2020-04-20 17:31] tanmayrauth commented on #52
You can override that.

[2020-04-21 03:32] darkmatter18 commented on #58
@tanmayrauth Assisn me please

[2020-04-21 10:42] himanshusharma89 commented on #59
Can you suggest your desired UI?

[2020-04-21 16:52] sanxy commented on #59
I will like to work on this

[2020-04-21 17:54] tanmayrauth commented on #59
@Rukmini-Meda Is already working on the UI part. Let's wait for completion of that issue.

[2020-04-21 17:57] tanmayrauth commented on #58
We already have UI developed for this. @Rukmini-Meda I am assigning the backed part to @darkmatter18.

@pravinyo @ankitshaw  Can you guys elaborate over the implementation details to  @darkmatter18

[2020-04-21 18:11] sanxy commented on #8
I will like to work on this since its available

[2020-04-21 18:52] tanmayrauth commented on #8
@sanxy Please let's finish the splash screen then you can pick this

[2020-04-21 19:01] tanmayrauth commented on #5
@OveeKulkarni PR has already been raised for this issue. Please take a look for other issues

[2020-04-21 20:43] akshaydhiran commented on #43
is it similar to like we have in the chat system app?

[2020-04-22 02:20] Rukmini-Meda commented on #59
I would like to work on this issue. If its not assigned to anybody yet, please assign this to me after my PR on login UI is merged. Thank you.

[2020-04-22 07:58] tanmayrauth commented on #59
@Rukmini-Meda It will be assigned to you since you have worked on the UI part of it.
@himanshusharma89 You are working on the location sharing section. I believe that will be consuming most of your time

[2020-04-22 13:42] #5 closed, assigned to Samriddhi25

[2020-04-22 21:37] CapTen101 commented on #51
Hi there! @tanmayrauth
Do we have to create a UI first and then proceed to implement the feature or do we have it already and only it's needed to be coded?

[2020-04-23 04:04] tanmayrauth commented on #51
yeah UI need to be developed then the backed functionalities mentioned above, are you interested in working this?

[2020-04-23 10:51] CapTen101 commented on #51
@tanmayrauth I've just started with flutter (a week ago) so maybe It would take me some time to implement features related to Maps SDK in Flutter.
So I would say don't assign it to me as of now since I don't want this issue to be blocked for other users. I'll get back to the issue in two weeks or so when I feel confident enough to tackle it. 😃

[2020-04-23 17:48] tanmayrauth commented on #51
No worries. Keep learning raisei in slack channel if you face any doubts.

[2020-04-23 19:29] CapTen101 commented on #51
I'm not adding on the slack channel actually. I couldn't find any such in the Contributing.md file.
Can you guide me through it? 🙂

[2020-04-26 11:46] tanmayrauth commented on #11
@kichloo are you working on this issue?

[2020-04-26 15:04] bharatmk2567 commented on #8
@myselfanuj  would you like to work on this issue?

[2020-04-26 15:45] bharatmk2567 commented on #43
@akshaysingh5 it kinda create a group that we usually see in chat apps like WhatsApp, Telegram but we will going to use it as group location sharing

[2020-04-26 18:35] tanmayrauth commented on #48
@himanshusharma89 were you able to make any progress?

[2020-04-26 18:57] himanshusharma89 commented on #48
Hey @tanmayrauth, I forgot to create the PR. I am creating it.

[2020-04-27 15:54] darkmatter18 commented on #59
@tanmayrauth Can I work on it?

[2020-04-28 05:51] bharatmk2567 commented on #59
@darkmatter18 Currently you are working on  #58 once you've finished it we will assign it to you

[2020-04-28 15:18] shwhite17 commented on #59
can you please assign to me, I can make an animated login page in flutter if you provide stable logo #59 @tanmayrauth

[2020-04-28 15:19] shwhite17 commented on #59
@tanmayrauth

[2020-04-29 06:38] kichloo commented on #11
I have raised a PR. Pl look at it.

[2020-04-29 13:53] Rukmini-Meda commented on #50
I would like to work on this issue. Please assign this to me as part of GSSoC'20. I can work on 2 issues simultaneously. Please assign this and login backend to me after my PR of login ui is merged.

[2020-04-29 14:16] bharatmk2567 commented on #11
I don't see location on my screen
Can you share some screenshots?

[2020-04-29 15:27] kichloo commented on #11
API key is required for it, did you do it? And I am a beginner, I have not tested it.

[2020-04-29 16:00] tanmayrauth commented on #50
@Rukmini-Meda Please let's focus on the login. Don't worry there are many issues to be picked up. We won't be short of issues :)

[2020-04-29 16:01] tanmayrauth commented on #59
@darkmatter18 @shwhite17 @sanxy You guys can pick many other pending issues

[2020-04-30 07:14] TahaAli07 commented on #56
If anyone wants to take up this issue comment here or contact me. This involves building static pages and can be a beginner to intermediate level issue .

[2020-04-30 07:21] TahaAli07 commented on #48
@tanmayrauth I think this issue can be closed now,

[2020-04-30 07:26] TahaAli07 commented on #51
@CapTen101 I have invited you to join the slack group. Please check your email - trohilla@ch.iitr.ac.in

[2020-04-30 07:53] CapTen101 commented on #51
Thanks! I'll join the slack right away

[2020-04-30 12:01] TahaAli07 commented on #51
@CapTen101 Can you send me the email you used to register for gssoc ? I will then add you to the group.

[2020-04-30 12:04] CapTen101 commented on #51
Pardon for not mentioning it before, but i didn't registered for gssoc. I just came across this repository as i was getting started in flutter and wanted to contribute to some projects which are in their beginning phase. If I don't fulfill the prerequisite for getting added in the slack then no probs. I'll still be willing to contribute

[2020-04-30 13:10] TahaAli07 commented on #51
Oh Okay @CapTen101 , unfortunately the GS Organizers don't allow non gssoc participants. But it is open source , so you should be able to contribute , can he contribute to the project @tanmayrauth  ??

[2020-04-30 14:54] tanmayrauth commented on #51
Yes

[2020-04-30 15:40] #9 closed, assigned to Rukmini-Meda

[2020-05-01 13:32] #52 closed, assigned to sanxy

[2020-05-01 13:55] sanxy commented on #53
I will like to work on this

[2020-05-01 14:09] #53 closed, assigned to nobody

[2020-05-01 14:10] tanmayrauth commented on #51
@sanxy Would you like to pick this issue?

[2020-05-01 14:15] sanxy commented on #51
Yes i will like to work on this

[2020-05-01 15:19] tanmayrauth commented on #51
Take an example of live shared location and try implementing it

[2020-05-01 20:13] FrozenGirl-spd commented on #56
Can I work on this?

[2020-05-02 03:07] tanmayrauth commented on #56
Assigned. @ankitshaw Can you help her with some mock ui.

[2020-05-02 09:07] saloniankita commented on #45
Can I work on this issue @tanmayrauth ?
Please assign me this.

[2020-05-02 09:08] saloniankita commented on #54
Kindly assign me this issue @ankitshaw @tanmayrauth if no one is working on it.

[2020-05-02 13:01] tanmayrauth commented on #45
as mentioned above group creation is prerequisite for this. Would you like to work on that?

[2020-05-02 15:08] ankitshaw commented on #11
current location share feature is already working so key already added to the repo

[2020-05-02 15:31] kichloo commented on #11
@ankitshaw So is it over that means I have to do anything more in it?

[2020-05-02 17:36] kichloo commented on #11
Ok, I will make a new PR.

[2020-05-02 18:35] ankitshaw commented on #11
I have closed your PR refer the comment added there

[2020-05-02 19:11] #48 closed, assigned to himanshusharma89

[2020-05-02 19:12] tanmayrauth commented on #49
@himanshusharma89 would you work on this? SInce you have worked on UI you can have more clarity on this.

[2020-05-03 07:46] ankitshaw commented on #8
@sunchit17 @himanshusharma89  anyone up for this?

[2020-05-03 08:12] ankitshaw commented on #56
![image](https://user-images.githubusercontent.com/25771394/80909092-100f8800-8d43-11ea-932e-7c1ac6d9c3b2.png)

Refer this image, as you will see.. The main page will have our icon and short slogan or motto provided to you.
after that there will be different sections hidden Apps working, need of app,Mission of app,Contributor's list. Similar to version and advertise with us section. on clicking on

[2020-05-03 09:38] himanshusharma89 commented on #8
I can work on this. I'll update you if I face any issue

[2020-05-03 10:59] ankitshaw opened #71 "Login Page resolution fix"
**Describe the bug**
Login page height resolution issue with different devices

**To Reproduce**
Steps to reproduce the behavior:
1. use different resolution to check how ui behaves

**Expected behavior**
the ui should be flexible based on any resolution

**Screenshots**
![](https://user-images.githubusercontent.com/15203737/80770716-e4c14900-8b48-11ea-95eb-192fe22db048.jpg)

[2020-05-03 13:47] 991rajat commented on #71
I'll try to fix.

[2020-05-03 14:34] TahaAli07 opened #72 "Enhance the Login Page"
**Describe the bug**
REMOVE -
OR
Sign in with
The two logos
Shift the whole section at the center of the screen.
Put the sign up section at the bottom.
Change the logo with the new one in the .github/ directory

**Expected behavior**
Login Page UI should be according to the above directions.

[2020-05-03 14:46] ankitshaw commented on #71
Hi @991rajat , assigned to you. This issue is on priority so work accordingly.

[2020-05-03 16:57] ankitshaw commented on #56
Hi @FrozenGirl-spd, I hope the requirement is clear to you.

[2020-05-03 17:04] #11 closed, assigned to nobody

[2020-05-03 17:58] sanxy commented on #51
![Screenshot_20200503-185039](https://user-images.githubusercontent.com/15203737/80921729-fcc6e180-8d6f-11ea-9650-aed1e933b538.jpg)
Map UI is blank

[2020-05-03 23:29] FrozenGirl-spd commented on #56
Yep i get that.. bt the logo and content part, will i be adding on my own??
Is logo already there? or i need to prepare one..
Working prototype UX or just UI?
Any of the details can be shared to mail id..
priyadarshanisilla@gmail.com

[2020-05-04 13:19] minolipvartak commented on #72
I am interested to work on this issue.

[2020-05-04 13:19] akshaydhiran commented on #72
I want to work on this issue.

[2020-05-04 13:22] TahaAli07 commented on #72
I have assigned this to @akshaysingh5 . @minolipvartak Please go through all the issues and you want to work on any I will assign you that.
You can also go through the app and suggest new issues and work on that.

[2020-05-04 14:43] ankitshaw commented on #56
we need a working About us with backend (to make it dynamic). Let me know if you are comfortable with fetching from db and populating the text.

[2020-05-04 14:44] ankitshaw commented on #71
Hi @991rajat any update?

[2020-05-04 16:39] ankitshaw commented on #72
@TahaAli07 , there is update in this issue. We dont need "sign in with section any more". @akshaysingh5  please remove OR , sign in with and the two logos. And then shift the whole section at the center of the screen.
and let the sign up section remain at the botton.
Also change the logo with the new one in the .github/ directory

[2020-05-04 17:17] ankitshaw opened #77 "Main Screen Design"
Create the Main screen layout for the application.
Example:
![mockup2](https://user-images.githubusercontent.com/25771394/80993371-97025480-8e58-11ea-82ff-4f1555a98025.png)

Refer the above example as it is.
Tasks:
1. Create the logos.
     a. The share logo
     b. Alert logo
2. Create bottom bar. This will be visible in all the screens. So you may have to keep it separatly
3. write the onclick c

[2020-05-04 17:18] TahaAli07 commented on #72
@ankitshaw I will create new issue for fixing the screen contents.

[2020-05-04 17:22] ankitshaw commented on #8
Hi @himanshusharma89 assigned to you!

[2020-05-04 17:26] ankitshaw commented on #51
Hi @sanxy I am not getting you, what is the issue? How can I help you?

[2020-05-04 19:00] FrozenGirl-spd commented on #56
Oops..i 've nt worked with backend stuffs :(

[2020-05-04 19:51] sanxy commented on #51
The map UI is blank which is not supposed to be, the notification for shared location is not completed yet. What I should use to implement the features required are not completed yet so I think I will take up another issue till the features are done and merged.

[2020-05-05 10:54] akshaydhiran commented on #72
@ankitshaw Okay.

[2020-05-05 11:13] TahaAli07 commented on #72
@akshaysingh5 I have updated the issue description. You can work with the updated directions.

[2020-05-05 14:53] ankitshaw commented on #59
Hi @Rukmini-Meda, any blockers?

[2020-05-05 14:54] ankitshaw commented on #51
Hi @tanmayrauth Please help him with this

[2020-05-05 16:25] ankitshaw commented on #71
[code]
This is how to solve this.
In the `body: SingleChildScrollView` section of the login.dart file remove the `child: section` from there and then add  following inside the `child:container` after the `gradient:`
[code]

Let me know if you still face any issue! @991rajat

[2020-05-05 16:52] Rukmini-Meda commented on #59
Had a few, but overcame them with help of @bharatmk257 and still working on it. Will make a PR by tomorrow night.

[2020-05-05 18:45] #72 closed, assigned to akshayaugust21

[2020-05-05 18:47] ankitshaw commented on #71
Hi @TahaAli07  can you please help @991rajat with this. I have explained in short how to go about it ( see the above comment).

[2020-05-06 13:17] bharatmk2567 commented on #54
@saloniankita Once user registration and login task get finished we will assign it to you

[2020-05-06 13:23] bharatmk2567 commented on #51
@sanxy you will need google maps API key for this

you can check docs:
https://developers.google.com/maps/documentation

these are some links that might help you:
https://pub.dev/packages/google_maps_flutter
https://codelabs.developers.google.com/codelabs/google-maps-in-flutter/#0

[2020-05-06 16:09] sanxy commented on #51
@bharatmk257 just seeing this, thanks i got the map working, seems the API key in the project isn't working.

[2020-05-06 22:21] akshaydhiran commented on #77
i want to work on this issue.

[2020-05-07 08:09] ibhanu opened #79 "Add Swiping left in the intro screen to navigate to next details!"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-07 08:09] #79 closed, assigned to nobody

[2020-05-07 08:15] ibhanu opened #80 "Add swiping left feature to intro page for better navigation of details of the application!"
By adding a gesture detector as follow
[code]
and implement stack so that the next detail overlap the prev detail!

[2020-05-07 12:27] dwvicy commented on #56
Can I work on this?

[2020-05-07 12:33] dwvicy commented on #44
Can I work on this?

[2020-05-08 04:49] bharatmk2567 commented on #59
Hey @Rukmini-Meda Any status

[2020-05-08 04:51] Rukmini-Meda commented on #59
@bharatmk257 Still working.... will try to complete it by today... sorry for being late...

[2020-05-08 04:52] bharatmk2567 commented on #59
No problem if you need any help slack it

[2020-05-08 04:58] Ruchika30 commented on #77
I can help if needed  @TahaAli07

[2020-05-08 07:29] #71 closed, assigned to 991rajat

[2020-05-08 10:11] TahaAli07 commented on #77
Hi @Ruchika30 and @akshaysingh5 , please work together on this issue . Keep this on a priority basis . Also message me if you face any issues.

[2020-05-08 10:56] TahaAli07 commented on #56
Hi @dwvicy , Have you understood the requirements of this issue clearly , it will requiring both the front-end and back-end firebase part. If yes , We will assign you this issue.

[2020-05-08 10:59] akshaydhiran commented on #77
Okay.

[2020-05-08 12:27] namitamutha commented on #80
Please assign me this issue

[2020-05-08 13:03] TahaAli07 commented on #80
Hi @namitamutha as discussed I have assigned you this issue.

[2020-05-08 13:07] dwvicy commented on #56
Yes, I have!

[2020-05-08 14:06] ankitshaw commented on #56
Hi @dwvicy, assigned you. Let us know if you need any help.

[2020-05-08 17:20] tanmayrauth commented on #44
@dwvicy Please let's finish the about us page assigned to you. Then you can pick this.

[2020-05-08 17:21] tanmayrauth commented on #8
@ankitshaw can you provide @himanshusharma89  some mock UI

[2020-05-09 03:14] tanmayrauth commented on #51
@sanxy is it working for you now? I hope you understand the usecase for it.
It should just take input for real time location and show up on maps. Which should then be easily integrated with other location share module eg location share list.

[2020-05-09 17:47] sanxy commented on #51
Yes working on that, but i think the group creation and adding of members should be done before the realtime location should be implemented and tested. If i implement it now, there is no way to know if there are issues or not.

[2020-05-10 13:01] saloniankita commented on #54
@bharatmk257 Okay

[2020-05-10 13:59] saloniankita commented on #45
I can try @tanmayrauth

[2020-05-11 13:23] sameeerkashyap commented on #44
Hello, I would like to work on this issue, please give me the specifics.

[2020-05-15 11:19] sheen404 commented on #77
Can I work on this issue?

[2020-05-15 17:35] sanxy commented on #51
I will come back to this, let me work on the create group UI

[2020-05-15 17:36] sanxy commented on #43
I will like to work on this

[2020-05-16 11:14] ankitshaw commented on #77
Hi @sheen404  assigned to you

[2020-05-16 11:19] TahaAli07 commented on #80
@namitamutha What is the status of this issue ?

[2020-05-16 12:28] akshaydhiran commented on #77
70 % work is already done, just waiting for Ruchika's work @ankitshaw @TahaAli07.

[2020-05-16 12:35] Ruchika30 commented on #77
Yes. I would update my part of work by today. @TahaAli07  @ankitshaw

[2020-05-17 03:22] Rukmini-Meda commented on #50
@tanmayrauth @ankitshaw Shall I start working on this issue in the mean time my PR on login backend will be reviewed?

[2020-05-17 14:48] sheen404 commented on #77
@ankitshaw What should I do then?

[2020-05-17 14:59] ankitshaw commented on #77
Hi @sheen404  work with akshay, the current PR raised by them are very basic, they will have to improve them. You can take up the improvement part. You need to use material design principle. @akshaysingh5 above image was just for reference, please take @sheen404  help and and make a aesthetic ui. Thanks

[2020-05-17 15:08] Rukmini-Meda commented on #56
I would like to work on this issue. Please assign this to me as part of GSSoC'20.

[2020-05-17 15:09] ankitshaw commented on #56
@Rukmini-Meda  assigned, Refer this comment https://github.com/codingindia/travel-safe/issues/56#issuecomment-623072658

[2020-05-17 15:13] akshaydhiran commented on #77
@ankitshaw Okay and @sheen404 contact us.

[2020-05-17 15:14] Rukmini-Meda commented on #56
Okay

[2020-05-17 16:25] akshaydhiran commented on #77
@sheen404 message on slack channel. So that we can reach out to you for further updates.

[2020-05-18 16:39] shwhite17 commented on #80
assign to me. @TahaAli07

[2020-05-19 01:51] shwhite17 commented on #80
@TahaAli07 tell me, gesture feature is added for android or for ios.

[2020-05-19 03:44] TahaAli07 commented on #80
@shwhite17 for both android and ios

[2020-05-19 15:32] shwhite17 commented on #80
@TahaAli07 , pull requested in dart language, review it.

[2020-05-19 15:51] TahaAli07 commented on #80
@shwhite17 I don't see any Pull request

[2020-05-19 16:34] shwhite17 commented on #80
@TahaAli07, I already pull requested once check it.

On Tue, 19 May 2020, 21:21 Taha Ali, <notifications@github.com> wrote:

[2020-05-19 16:42] TahaAli07 commented on #80
@shwhite17 I see only 3 active PRs , can you check again on your side.

[2020-05-20 10:39] shwhite17 commented on #80
![Screenshot (53)](https://user-images.githubusercontent.com/57324656/82436867-1d06d800-9ab4-11ea-97c6-c8e1e08547fc.png)

check out this screenshot ?

[2020-05-20 11:28] TahaAli07 commented on #80
Hi @shwhite17 , you have committed the changes to your repository , this is not the way to create a PR . Please follow this video to create a PR - https://youtu.be/OVQK2zzb6U8

[2020-05-23 08:25] sheen404 commented on #80
Can I be assigned this issue?

[2020-05-25 05:37] Rukmini-Meda commented on #43
@ankitshaw I would like to work on this issue. Please assign this to me as part of GSSoC'20.

[2020-05-27 05:03] bharatmk2567 opened #92 "Contact Population"
When user is creating an account they are adding their phone number to register so what feature we need it to get the list of the user registered according to the contact list
For Example WhatsApp contact sync

Steps:
Read contact list
Get user data from firebase
Match that data and show that list in one screen
Also, store data to a mobile device so app don't have to sync every time

[2020-05-28 13:48] #56 closed, assigned to Rukmini-Meda

[2020-05-28 15:41] #59 closed, assigned to Rukmini-Meda

[2020-05-29 14:05] manxi opened #93 "README.md improvement"
It's well said " Don't Judge a book by it's cover" but still people judge others' project by looking to their README.md as it gives a permanent impression about the hard work we've done which is certainly not true

I'm Mansi and I write blogs & books. I'm good at content writing. I would like to contribute to the README.md file to make it better and enhance it's words and looks.

[2020-05-29 14:07] manxi commented on #93
I request admins to assign this issue to me.

[2020-05-30 07:32] Rukmini-Meda opened #95 "Group Contents screen"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

There are issues for features like adding members, deleting members and deleting groups. But I think one screen should be there to show all groups that the logged in user has

**Describe the solution you'd like**
A clear and concise descri

[2020-05-31 04:10] tanmayrauth commented on #93
Assigned to you. Please help us get the best version of it :)

[2020-06-07 10:26] ankitshaw opened #97 "Adding Contributors List"

[2020-06-07 10:32] ankitshaw commented on #97
@all-contributors bot please add @ankitshaw ideas and maintanence

[2020-06-07 10:34] ankitshaw commented on #97
@all-contributors bot please add @ankitshaw ideas and maintanence

[2020-06-07 10:36] ankitshaw commented on #97
@all-contributors bot please add @ankitshaw maintenance

[2020-06-07 10:37] ankitshaw commented on #97
@all-contributors bot please add @tanmayrauth for ideas and maintenance

[2020-06-07 10:40] #97 closed, assigned to ankitshaw

[2020-06-07 11:40] ankitshaw commented on #97
@all-contributors bot please add @pravinyo for review

[2020-06-08 12:31] ankitshaw commented on #97
@all-contributors bot please add @TahaAli07  for review

[2020-06-08 12:33] ankitshaw commented on #97
@all-contributors bot please add @bharatmk257 for review

[2020-06-25 00:06] #47 closed, assigned to nobody

[2020-06-25 00:06] #55 closed, assigned to nobody

[2020-06-26 00:06] #57 closed, assigned to nobody

[2020-06-28 00:06] #46 closed, assigned to nobody

[2020-07-10 00:08] #58 closed, assigned to darkmatter18

[2020-07-15 00:08] #49 closed, assigned to nobody

[2020-07-17 00:08] #54 closed, assigned to nobody

[2020-07-17 00:08] #45 closed, assigned to nobody

[2020-07-19 00:09] #44 closed, assigned to nobody

[2020-07-22 00:08] #51 closed, assigned to nobody

[2020-07-24 00:08] #50 closed, assigned to nobody

[2020-07-24 00:08] #77 closed, assigned to Ruchika30, akshayaugust21, sheen404

[2020-07-30 00:09] #80 closed, assigned to nobody

[2020-07-30 13:13] rsrinath14 opened #119 "Remove the debug banner"
Remove the debug banner by simply adding the following line in MaterialApp

![debug banner example](https://user-images.githubusercontent.com/47494475/87989359-88464800-caff-11ea-900f-973e97f8dc9e.png)

return MaterialApp(
      debugShowCheckedModeBanner: false,

[2020-08-01 00:10] #43 closed, assigned to nobody

[2020-08-03 00:09] #92 closed, assigned to nobody

[2020-08-06 00:09] #8 closed, assigned to nobody

[2020-08-06 00:09] #95 closed, assigned to Rukmini-Meda

[2020-08-07 00:10] #93 closed, assigned to manxi

[2020-10-06 00:14] #119 closed, assigned to nobody

[2021-10-04 07:51] aalesh01 opened #122 "Login Screen is not Visible after the App Tour(3 Information Screens)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi